<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink="personal" routerLinkActive="active">
                    Dados pessoais
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="activity" routerLinkActive="active">
                    Log de atividades
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[{ outlets: { primary: ['settings']} }]" routerLinkActive="active">
                    Configurações
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>
