<div class="row">
    <div class="col-12">
        <div class="info-box btn btn-default text-left"
            *ngFor="let item of CeeDocumentLocalService.docList | sortBy:'desc':'publicadaEm' | filter:[{ field: 'type', value: CeeDocumentLocalService.filter}] | filter: [{ field: 'ementa', value: CeeDocumentLocalService.search}]">
            
            <span class="info-box-icon bg-info elevation-1" *ngIf="item.type == DocTypeEnum.RESOLUCAO">
                <i class="fas fa-file-pdf"></i>
            </span>
            <span class="info-box-icon bg-danger elevation-1" *ngIf="item.type == DocTypeEnum.PORTARIA">
                <i class="fas fa-file-pdf"></i>
            </span>

            <div class="info-box-content" *ngIf="item else noDoc">
                <span class="info-box-text small">
                    <b>Tipo:</b> {{ item.type }}
                    <b>| Número:</b> {{ item.number }}
                    <b>| Criação:</b> {{ item.createdIn }}
                    <b>| Publicação no DOE:</b> {{ item.publishedIn }}
                    <b>| Situação:</b> {{ item.situation }}
                </span>
                <span>
                    {{ item.ementa }}
                </span>
                <span class="info-box-number">
                    <small class="text-info text-bold" *ngIf="item.alter">{{ item.alter }}</small>
                    <small class="text-warning text-bold" *ngIf="item.changedBy">{{ item.changedBy }}</small>
                    <small class="text-info text-bold" *ngIf="item.revoke">{{ item.revoke }}</small>
                    <small class="text-danger text-bold" *ngIf="item.revokedBy">{{ item.revokedBy }}</small>
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>

<ng-template #noDoc>
    <div class="info-box-content">
        Nenhum documento encontrado!
    </div>
</ng-template>