<div class="card card-solid">

    <div class="card-header pb-0">
        <div class="row">
            <h4>Regionais:</h4>
        </div>
    </div>

    <div class="card-body pb-0">
        <div class="row">
            <div class="col-12">
                <div class="info-box btn btn-default text-left" *ngFor="let item of regionalList">

                    <div class="info-box-content" (click)="selected(item)">
                        <span class="info-box-text">
                            {{ item.name || 'Todas as regionais' }}
                            <img class="float-right" [style.height]="item.name? '20px': '30px'" src="{{ item.flag }}"
                                alt="">
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-right">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Fechar</button>
    </div>
</div>