<div class="card card-solid">
    <div class="card-body pb-0">
        <div class="row d-flex align-items-stretch">
            <div class=" sd-profile-card col-12 col-md-6 col-lg-6 col-xl-6"
                *ngFor="let profileCard of profileCardList | filter: [{field: 'userName', value: ceeLocalService.filter},{field: 'profileName', value: ceeLocalService.filter}] let i = index">

                <sd-profile-card [profileCard]="profileCard" [profileCardOptions]="profileCardOptions" class=" w-100">
                </sd-profile-card>

                <div class="card card-solid d-print-none">
                    <div class="card-footer col-12 text-right">
                        <!-- <span *ngIf="profileCard.status"> -->
                        <span>
                            <button href="#" class="btn btn-sm btn-default" (click)="unbindMember(profileCard)">
                                <i class="fas fa-ban"></i>
                                <span> Desvincular perfil</span>
                            </button>
                        </span>
                        <!-- <span>
                            &nbsp;
                            <button class="btn btn-sm bg-teal" (click)="openChatDirectModal(profileCard)">
                                <i class="fas fa-comments"></i> Conversar
                            </button>
                        </span> -->
                        <span>
                            &nbsp;
                            <button routerLink="/account/personal" [queryParams]="{userId: profileCard.userId}"
                                class="btn btn-sm btn-primary">
                                <i class="far fa-eye"></i> Visualizar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer d-print-none">
    </div>
    <!-- /.card-footer -->
</div>