<div class="container-fluid">
    <div class="row hidden-print">
        <div class="col-6">

            <!-- * Button -->
            <button class="btn btn-info" (click)="openBindUserInInstitutionModal()">
                <i class="fa fa-plus"></i>
                Vincular usuário
            </button>

            <br><br>

            <!-- * Filter field -->
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span><i class="fa fa-filter"></i></span>
                    </div>
                </div>
                <input id="search-box" class="form-control" type="text" [(ngModel)]="filter" placeholder="Pesquisar">
                <input type="hidden" [value]="ceeLocalService.filter">
            </div>

        </div>
    </div>
</div>

<app-cee-user-view></app-cee-user-view>