<div class="row d-flex justify-content-center">
    <div class="col-12">
        <form id="form">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <span class="text-bold">Inscrição</span>
                    </h4>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                            <i class="fas fa-expand"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <router-outlet></router-outlet>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">

                            <button class="btn btn-sm btn-secondary" routerLink="/login">
                                <span>Voltar</span>
                            </button>

                            <button type="submit" class="btn btn-sm btn-primary">
                                <span>Continuar</span>
                                &nbsp;
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>

                        </div>
                    </div>
                </div>
                 -->
            </div>
        </form>
    </div>
</div>