<div class="modal-header">
  <h4 class="modal-title">
    <span>Modificar perfil</span>
  </h4>
  <button type="button" class="close" (click)="bsModalRef.hide()"><span>&times;</span></button>
</div>

<div class="modal-body">
  <div class="container-fluid">
    
    <form>
      <div class="row mt-2">
        <div class="col-md-12">
          Contexto:
          <select [(ngModel)]="context" (ngModelChange)="watchChangeProfileContext()" [ngModelOptions]="{standalone: true}" class="form-control">
            <option [value]="c" *ngFor="let c of contextList">{{ c }}</option>
            <!-- <option [value]="c" *ngFor="let c of contextList">{{ c.sigla +" - "+ c.name }}</option> -->
          </select>
        </div>
        <!-- <div class="col-md-12" *ngIf="profile">
          Escopo:
          <select [(ngModel)]="profile.scope" [ngModelOptions]="{standalone: true}" class="form-control">
            <option [value]="context" *ngFor="let p of profileList">{{ p.scope.name }}</option>
          </select>
        </div>
        <div class="col-md-12">
          Grupo:
          <select [(ngModel)]="profile.name" [ngModelOptions]="{standalone: true}" class="form-control">
            <option [value]="context" *ngFor="let p of profileList">{{ p.group.name }}</option>
          </select>
        </div> -->
        <div class="col-md-12">
          Nome:
          <select [(ngModel)]="profile.name" (ngModelChange)="watchChangeProfileName(context)" [ngModelOptions]="{standalone: true}" class="form-control">
            <option [value]="context" *ngFor="let p of profileList">{{ p.name }}</option>
          </select>
        </div>
        <div class="col-md-12">
          Descrição:
          <textarea rows="1" [(ngModel)]="profile.description" [ngModelOptions]="{standalone: true}"
            class="form-control" [disabled]="true" placeholder="Ex: Escritório; WhatsApp"></textarea>
        </div>
        <div class="col-md-12">

          <div class="list-group">

            <span class="list-group-item text-center text-danger" *ngIf="phoneList?.length === 0">
              Nenhum telefone inserido!
            </span>

            <span class="list-group-item sd-list-items" *ngFor="let phone of phoneList">
              <!-- <span class="list-group-item sd-list-items" *ngIf="true"> -->
              <i class="fa fa-angle-double-right"></i> {{ phone.number }} ({{ phone.description }})
              <span class="sd-pointer sd-float-right">
                <i class="fas fa-edit" (click)="editPhone(phone)"></i>
                &nbsp;
                <i class="fas fa-trash" (click)="removePhone(phone)"></i>
                <!-- <i class="fas fa-trash-alt text-danger"></i> -->
              </span>
            </span>

          </div>
        </div>
      </div>
    </form>
    
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" (click)="bsModalRef.hide()">Fechar</button>
  <button class="btn btn-success" (click)="confirm()">Confirmar mudanças</button>
</div>
