<div class="row d-print-none">
    <div class="col-6">

        <!-- * Button -->
        <button class="btn btn-info" (click)="openInstitutionFormModal()">
            <i class="fa fa-edit"></i>
            &nbsp;
            <span>Editar</span>
        </button>
        &nbsp;
        <!-- * Button -->
        <button class="btn btn-info" (click)="openBindUserInInstitutionModal()">
            <i class="fas fa-link"></i>
            &nbsp;
            <span>Vincular usuário</span>
        </button>

    </div>
</div>

<br>

<div class="card card-widget widget-user">
    <div class="widget-user-header bg-info">

        <div class="ribbon-wrapper ribbon-lg" *ngIf="institutionView.context === ContextEnum.MAINTAINED">
            <div class="ribbon text-md bg-success">
                Credenciada
            </div>
        </div>

        <h3 class="widget-user-username">
            {{ institutionView.name }}
        </h3>
        <h5 class="widget-user-desc">
            {{ institutionView.socialReason }}
        </h5>
    </div>
    <div class="widget-user-image">
        <i class="fas fa-university fa-6x" *ngIf="true"></i>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">
                        {{ institutionView.phoneMain }}
                    </h5>
                    <span class="description-text">Telefone</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">
                        {{ institutionView.emailMain }}
                    </h5>
                    <span class="description-text">E-Mail</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
                <div class="description-block">
                    <h5 class="description-header">
                        {{ institutionView.zipCodeAddressMain }}
                    </h5>
                    <span class="description-text">CEP</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</div>

<div class="card card-widget widget-user">
    <div class="card-body">
        <form class="form-horizontal">
            <div class="form-group row">
                <label for="inputName" class="col col-form-label">Razão social:</label>
                <div class="col-sm-9">
                    {{ institutionView.socialReason }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col col-form-label">Nome fantasia:</label>
                <div class="col-sm-9">
                    {{ institutionView.name }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col col-form-label">Emails:</label>
                <div class="col-sm-9">
                    {{ institutionView.emailList }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col col-form-label">Telefones:</label>
                <div class="col-sm-9 centered">
                    {{ institutionView.phoneList }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputExperience" class="col col-form-label">Descrição:</label>
                <div class="col-sm-9">
                    {{ institutionView.description }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputSkills" class="col col-form-label">Usuários vinculados:</label>
                <div class="col-sm-9">
                    <a [routerLink]="['/profile/personal']" [queryParams]="{userId:'6127189537da77002715b10f'}">
                        <span>Nome do Primeiro Usuário</span>
                    </a>
                    <br>
                    <a [routerLink]="['/profile/personal']" [queryParams]="{userId:'6127189537da77002715b10f'}">
                        <span>Nome do Segundo Usuário</span>
                    </a>
                    <br>
                    <a [routerLink]="['/profile/personal']" [queryParams]="{userId:'6127189537da77002715b10f'}">
                        <span>Nome do Terceiro Usuário</span>
                    </a>
                    <br>
                    <!-- <div *ngFor="let item of user.dataAccess?._profileList">
                    <button class="btn btn-info btn-xs">{{ item.name }}</button>
                    &nbsp;
                </div> -->
                </div>
            </div>
        </form>
    </div>
</div>