<!-- <form [formGroup]="checkoutForm"> -->
<form>
    <div class="modal-header">
        <h4 class="modal-title" id="userModalLabel">
            <span *ngIf="!institution?._id">Inserir</span>
            <span *ngIf="institution?._id">Alterar</span>
        </h4>
        <button type="button" class="close" (click)="bsModalRef.hide()"><span>&times;</span></button>
    </div>

    <div class="modal-body">
        <div class="container-fluid" *ngIf="isLoading">
            ...LOADING
        </div>
        <div class="container-fluid" *ngIf="!isLoading">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    Razão social:
                    <input type="text" [(ngModel)]="institution.socialReason" [ngModelOptions]="{standalone: true}"
                        autocomplete="_" class="form-control" placeholder="">
                </div>
                <div class="col-md-6 col-lg-4">
                    CNPJ:
                    <input type="text" [(ngModel)]="institution.cnpj" [ngModelOptions]="{standalone: true}"
                        mask="00.000.000/0000-00" pattern="[0-9]{14}" class="form-control" placeholder="">
                </div>
                <div class="col-md-12 col-lg-8">
                    Nome Fantasia:
                    <input type="text" [(ngModel)]="institution.name" [ngModelOptions]="{standalone: true}" autocomplete="_"
                        class="form-control" placeholder="">
                </div>
                <div class="col-md-6 col-lg-4">
                    Sigla (quando houver):
                    <input type="text" [(ngModel)]="institution.initials" [ngModelOptions]="{standalone: true}"
                        class="form-control" placeholder="">
                </div>
                <div class="col-md-6 col-lg-4">
                    Tipo de instituição:
                    <select id="gType" [(ngModel)]="institution.institutionType" [ngModelOptions]="{standalone: true}"
                        class="form-control">
                        <option [ngValue]="gtype" *ngFor="let gtype of institutionTypeList">{{ gtype }}</option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-4">
                    Esfera administrativa:
                    <select id="sphere" [(ngModel)]="institution.administrativeSphere" [ngModelOptions]="{standalone: true}"
                        class="form-control">
                        <option [ngValue]="sphere" *ngFor="let sphere of administrativeSphereList">{{ sphere }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Descrição:
                    <textarea rows="6" [(ngModel)]="institution.description" [ngModelOptions]="{standalone: true}" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <!-- <input type="hidden" (ngModel)="isDataAccess = false"> -->
        <button type="reset" class="btn btn-default" *ngIf="!institution?._id">Limpar</button>
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Fechar</button>
        <input type="submit" class="btn btn-primary" value="Salvar" (click)="create()" *ngIf="!institution?._id">
        <input type="submit" class="btn btn-primary" value="Atualizar" (click)="update()" *ngIf="institution?._id">
    </div>
</form>