<!-- userModal -->
<!-- <form [formGroup]="checkoutForm"> -->
<form>
    <div class="modal-header">
        <h4 class="modal-title" id="userModalLabel">
            <span *ngIf="!user._id">Inserir</span>
            <span *ngIf="user._id">Alterar</span>
        </h4>
        <button type="button" class="close" (click)="bsModalRef.hide()"><span>&times;</span></button>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    Senha atual:
                    <input type="text" [(ngModel)]="password" name="password" class="form-control" placeholder="Digite sua senha atual">
                </div>
                <div class="col-12 "> <hr> </div>
                <div class="col-12">
                    Nova senha:
                    <input type="text" [(ngModel)]="password" name="password" class="form-control" placeholder="Digite a nova senha">
                </div>
                <div class="col-12">
                    Repetir nova senha:
                    <input type="text" [(ngModel)]="passwordCheck" name="passwordCheck" class="form-control" placeholder="Repita a nova senha">
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <input type="hidden" (ngModel)="isDataAccess = true">
        <button type="reset" class="btn btn-default" *ngIf="!user._id">Limpar</button>
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Fechar</button>
        <input type="submit" class="btn btn-primary" value="Atualizar" (click)="update()" *ngIf="user._id">
    </div>
</form>