<div class="card">
    <div class="card-body">
        <h3><i class="fab fa-buffer"></i> Processo SIGAS/CEE/TO Nº 202112221604345</h3>
        <div class="text-muted">
            <p class="text-sm">Fase:
                <b class="d-inline">Análise dos documentos|Atendimento ao despacho|Elaboração e publicação de portaria|Avaliação in loco|Elaboração do relatório|Análise do relatório|Aguardando manifestação da IE|Análise e elaboração do parecer da CAES|Nova Avaliação in loco|Elaboração do parecer do Conselho Profissional|Elaboração do parecer final|Deliberação do Colegiado|Aprovado - Aguardando publicação|Reprovado - Aguardando publicação|Suspenso|Arquivado</b>
            </p>
        </div>
        <br>

        <h5 class="mt-5 text-muted">Dados do processo:</h5>

        <div class="row">
            <div class="text-muted col-auto">
                <p class="text-sm">Processo SIGAS/CEE/TO:
                    <b class="d-block">202112221604345</b>
                </p>
            </div>

            <div class="text-muted col-auto">
                <p class="text-sm">Processo SGD/SEDUC/TO:
                    <b class="d-block">2021/27000/009190</b>
                </p>
            </div>

            <div class="text-muted col-auto">
                <p class="text-sm">Data de autuação no SGD/SEDUC/TO:
                    <b class="d-block">15/06/2021</b>
                </p>
            </div>

            <div class="text-muted col-auto">
                <p class="text-sm">Órgão de origem do pedido:
                    <b class="d-block">DREJE de Araguatins</b>
                </p>
            </div>
        </div>

        <h5 class="mt-5 text-muted">Dados do interessado e do pedido:</h5>

        <div class="row">

            <div class="text-muted col-auto">
                <p class="text-sm">Interessado(s):
                    <b class="d-block">Instituto Renascer</b>
                </p>
            </div>

            <div class="text-muted col-auto">
                <p class="text-sm">Ato requerido:
                    <b class="d-block">Autorização para Funcionamento</b>
                </p>
            </div>

            <div class="text-muted col-auto">
                <p class="text-sm">Tipo de oferta requerida:
                    <b class="d-block">Educação Normal de Nível Médio</b>
                </p>
            </div>

            <div class="text-muted col-auto">
                <p class="text-sm">Município:
                    <b class="d-block">Santa Terezinha</b>
                </p>
            </div>
        </div>

        <h5 class="mt-5 text-muted">Outros dados do pedido:</h5>

        <div class="row">

            <div class="text-muted col-auto">
                <p class="text-sm">Nível:
                    <b class="d-block">Básico</b>
                </p>
            </div>

            <div class="text-muted col-auto">
                <p class="text-sm">Etapa de ensino:
                    <b class="d-block">Médio</b>
                </p>
            </div>

            <div class="text-muted col-auto">
                <p class="text-sm">Modalidade de ensino:
                    <b class="d-block">Normal</b>
                </p>
            </div>

            <div class="text-muted col-auto">
                <p class="text-sm">Modalidade de oferta:
                    <b class="d-block">Presencial</b>
                </p>
            </div>
        </div>

        <h5 class="mt-5 text-muted">Arquivos anexos validados:</h5>

        <div class="row">
            <ul class="list-unstyled">
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Ofício do pedido referente ao ato solicitado
                    </a>
                </li>
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Projeto Pedagógico do Curso (PPC)
                    </a>
                </li>
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Relatório da Bibliografia Básica Complementar
                    </a>
                </li>
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Portaria publicada do ato de Credenciamento
                    </a>
                </li>
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Formação e titulação do coordenador de curso
                    </a>
                </li>
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Relação de docentes
                    </a>
                </li>
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Comprovante de disponibilidade do imóvel da sede da instituição
                    </a>
                </li>
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Comprovante de regularidade fiscal e para-fiscal da mantenedora
                    </a>
                </li>
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Cadastro Nacional da Pessoa Jurídica (CNPJ)
                    </a>
                </li>
                <li>
                    <a href="" class="btn-link text-secondary">
                        <i class="far fa-fw fa-file-pdf" contenteditable="false"></i>
                        Certidão de Regularidade com o FGTS
                    </a>
                </li>
            </ul>
        </div>

        <div class="text-center mt-5 mb-3 d-print-none">
            <button class="btn btn-sm btn-default" onclick="window.print()">Imprimir</button>
        </div>

    </div>
</div>