<div class="row d-print-none">
    <div class="col-6">

        <!-- * Button -->
        <button class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Inserir documento
        </button>

        <br><br>

        <!-- * Filter field -->
        <div class="input-group mb-3">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span><i class="fa fa-filter"></i></span>
                </div>
            </div>
            <input id="search-box" class="form-control" type="text" [(ngModel)]="search" placeholder="Pesquisar">
            <input type="hidden" [value]="ceeDocumentLocalService.search">
        </div>

    </div>
</div>

<div class="row  d-print-none">
    <div class="col-6 col-sm-4 col-md-3" (click)="filtering('')">
        <div class="info-box btn btn-default text-left">
            <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-folder-open"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Todos</span>
                <span class="info-box-number">
                    {{ ceeDocumentLocalService.docList.length }}
                    <!-- <small>%</small> -->
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="info-box btn btn-default text-left" (click)="filtering(docTypeEnum.RESOLUCAO)">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-folder-open"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Resoluções</span>
                <span class="info-box-number">
                    {{ ceeDocumentLocalService.typeLength.resolucaoLength }}
                    <!-- <small>%</small> -->
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-6 col-sm-4 col-md-3">
        <div class="info-box mb-3 btn btn-default text-left" (click)="filtering(docTypeEnum.PORTARIA)">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-folder-open"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Portarias</span>
                <span class="info-box-number">
                    {{ ceeDocumentLocalService.typeLength.portariaLength }}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <!-- <div class="clearfix hidden-md-up"></div> -->

    <div class="col-6 col-sm-4 col-md-3">
        <div class="info-box mb-3 btn btn-default text-left" (click)="filtering(docTypeEnum.DECRETO)">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-folder-open"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Decretos</span>
                <span class="info-box-number">
                    {{ ceeDocumentLocalService.typeLength.decretoLength }}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-6 col-sm-4 col-md-3">
        <div class="info-box mb-3  btn btn-default text-left" (click)="filtering(docTypeEnum.PARECER)">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-folder-open"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Pareceres</span>
                <span class="info-box-number">
                    {{ ceeDocumentLocalService.typeLength.parecerLength }}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-6 col-sm-4 col-md-3">
        <div class="info-box mb-3  btn btn-default text-left" (click)="filtering(docTypeEnum.OTHER)">
            <span class="info-box-icon bg-gray-light elevation-1"><i class="fas fa-folder-open"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Outros</span>
                <span class="info-box-number">
                    {{ ceeDocumentLocalService.typeLength.otherLength }}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>